In [78]:
import pandas as pd

In [79]:
df = pd.read_csv('C:/Users/Onwer/Downloads/vehicles.csv')

In [80]:
# Getting info on type 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [81]:
# Checking the actual data now
df.head()

           id                                                                                           url                  region                         region_url  price  year manufacturer model condition cylinders  ... size  type paint_color image_url description county state lat long posting_date
0  7222695916               https://prescott.craigslist.org/cto/d/prescott-2010-ford-ranger/7222695916.html                prescott    https://prescott.craigslist.org   6000   NaN          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN       NaN         NaN    NaN    az NaN  NaN          NaN
1  7218891961        https://fayar.craigslist.org/ctd/d/bentonville-2017-hyundai-elantra-se/7218891961.html            fayetteville       https://fayar.craigslist.org  11900   NaN          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN       NaN         NaN    NaN    ar NaN  NaN          NaN
2  7221797935               https://keys.craigslist.org/cto/d/summerland-key-2005-excursion/7221797935.html            florida keys        https://keys.craigslist.org  21000   NaN          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN       NaN         NaN    NaN    fl NaN  NaN          NaN
3  7222270760  https://worcester.craigslist.org/cto/d/west-brookfield-2002-honda-odyssey-ex/7222270760.html  worcester / central MA   https://worcester.craigslist.org   1500   NaN          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN       NaN         NaN    NaN    ma NaN  NaN          NaN
4  7210384030          https://greensboro.craigslist.org/cto/d/trinity-1965-chevrolet-truck/7210384030.html              greensboro  https://greensboro.craigslist.org   4900   NaN          NaN   NaN       NaN       NaN  ...  NaN   NaN         NaN       NaN         NaN    NaN    nc NaN  NaN          NaN

[5 rows x 26 columns]

In [82]:
# Calculating total no. of null values in each column as we saw there multiple nan values in columns
df.isnull().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [83]:
#Dropping the columns which is not usable or have high percentage of null values in order to reduce the size of data 
# which will decrease the processing time as well
df.drop(columns=['url','region_url','VIN','image_url','description','county','posting_date','size','lat','long'],inplace=True)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  drive         296313 non-null  object
 13  type          334022 non-null  object
 14  paint_color   296677 non-null  object
 15  state         426880 non-null  object
dtypes: float64(2), int64(2), object(12)
memory usage: 52.1+ MB

In [85]:
df.isnull().sum()

id                   0
region               0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
drive           130567
type             92858
paint_color     130203
state                0
dtype: int64

In [86]:
# Number of rows having more than one null value in it i.e. 2 or more columns having null value in same row
df.isnull().sum(axis=1).gt(1).sum()

202419

In [87]:
df.isnull().sum(axis=1).gt(2).sum()

115707

In [88]:
df.isnull().sum(axis=1).gt(3).sum()

66022

In [89]:
df.isnull().sum(axis=1).gt(4).sum()

44853

In [90]:
#filtering the data to keep only rows which has 2 or less number of null values in it
df = df[df.isnull().sum(axis=1) <= 2]

In [91]:
df.isnull().sum()

id                  0
region              0
price               0
year                6
manufacturer     8232
model            1569
condition       82115
cylinders       77790
fuel              704
odometer         1427
title_status     2533
transmission       20
drive           42949
type            20275
paint_color     44277
state               0
dtype: int64

In [92]:
df.head(20)

            id  region  price    year manufacturer                        model  condition    cylinders   fuel  odometer title_status transmission drive    type paint_color state
27  7316814884  auburn  33590  2014.0          gmc     sierra 1500 crew cab slt       good  8 cylinders    gas   57923.0        clean        other   NaN  pickup       white    al
28  7316814758  auburn  22590  2010.0    chevrolet               silverado 1500       good  8 cylinders    gas   71229.0        clean        other   NaN  pickup        blue    al
29  7316814989  auburn  39590  2020.0    chevrolet          silverado 1500 crew       good  8 cylinders    gas   19160.0        clean        other   NaN  pickup         red    al
30  7316743432  auburn  30990  2017.0       toyota         tundra double cab sr       good  8 cylinders    gas   41124.0        clean        other   NaN  pickup         red    al
31  7316356412  auburn  15000  2013.0         ford                    f-150 xlt  excellent  6 cylinders    gas  128000.0        clean    automatic   rwd   truck       black    al
32  7316343444  auburn  27990  2012.0          gmc  sierra 2500 hd extended cab       good  8 cylinders    gas   68696.0        clean        other   4wd  pickup       black    al
33  7316304717  auburn  34590  2016.0    chevrolet        silverado 1500 double       good  6 cylinders    gas   29499.0        clean        other   4wd  pickup      silver    al
34  7316285779  auburn  35000  2019.0       toyota                       tacoma  excellent  6 cylinders    gas   43000.0        clean    automatic   4wd   truck        grey    al
35  7316257769  auburn  29990  2016.0    chevrolet        colorado extended cab       good  6 cylinders    gas   17302.0        clean        other   4wd  pickup         red    al
36  7316133914  auburn  38590  2011.0    chevrolet         corvette grand sport       good  8 cylinders    gas   30237.0        clean        other   rwd   other         red    al
37  7316130053  auburn   4500  1992.0         jeep                     cherokee  excellent  6 cylinders    gas  192000.0        clean    automatic   4wd     NaN         NaN    al
38  7315816316  auburn  32990  2017.0         jeep     wrangler unlimited sport       good  6 cylinders    gas   30041.0        clean        other   4wd   other      silver    al
39  7315770394  auburn  24590  2017.0    chevrolet       silverado 1500 regular       good  6 cylinders    gas   40784.0        clean        other   NaN  pickup       white    al
40  7315756348  auburn  30990  2016.0    chevrolet        colorado crew cab z71       good          NaN  other   34940.0        clean        other   4wd  pickup        blue    al
41  7315715960  auburn  27990  2014.0       toyota     tacoma access cab pickup       good          NaN  other   17805.0        clean        other   NaN  pickup         red    al
42  7315379459  auburn  37990  2016.0    chevrolet           camaro ss coupe 2d       good  8 cylinders    gas    9704.0        clean        other   rwd   coupe         red    al
43  7315275975  auburn  33590  2014.0       toyota    tundra crewmax sr5 pickup       good          NaN  other   55251.0        clean        other   NaN  pickup         red    al
44  7315275942  auburn  30990  2019.0         ford   ranger supercrew xl pickup       good          NaN  other    1834.0        clean        other   NaN  pickup       black    al
45  7315270785  auburn  27990  2018.0       nissan     frontier crew cab pro-4x       good  6 cylinders    gas   37332.0        clean        other   4wd  pickup      silver    al
47  7314910156  auburn  34590  2018.0         ford  f150 super cab xl pickup 4d       good  6 cylinders    gas   20856.0        clean        other   NaN  pickup       white    al

In [93]:
df.reset_index(drop=True, inplace=True)

In [ ]:
# Inspecting for duplicate rows
duplicate_rows = df[df.duplicated()]
print("Duplicate rows:")
print(duplicate_rows)